[Unit]
Description=Bring up wlan0
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/ifup wlan0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target