POKY_BBLAYERS_CONF_VERSION = "1"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/sources/poky/meta \
  ##OEROOT##/sources/meta-openembedded/meta-oe/ \
  ##OEROOT##/sources/meta-openembedded/meta-multimedia \
  ##OEROOT##/sources/meta-openembedded/meta-networking \
  ##OEROOT##/sources/meta-openembedded/meta-python \
  ##OEROOT##/sources/meta-raspberrypi \
  ##OEROOT##/sources/meta-raspi-network-setup \
  ##OEROOT##/sources/meta-swupdate \
  ##OEROOT##/sources/meta-swupdate-boards \
  ##OEROOT##/sources/meta-raspi-app \
  "
